.advantages__left-item-text {
  margin: 0;
  max-width: 517px;
  color: #00000F;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 33px;
}
