.advantages__left-item-subtitle {
  margin: 0;
  max-width: 280px;
  padding: 0 0 12px 35px;
  color: #2369E5;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 33px;
}
