.functionality__item-text {
  margin: 0;
  padding-left: 35.5px;
  max-width: 376px;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 33px;
}
