.footer__author {
  margin: 0;
  font-family: "Noto Sans TC Bold";
  font-family: 'Noto Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 45px;
}
